
  <app-header></app-header>

<div class="Main">
  <h1 class="Tovar"> Каталог услуг </h1>
  <div class = "Catalog">


  <h2 class="Tovar"> Фильтр по услугам </h2>
    <app-select *ngIf="Categori != undefined" [ParamArray]="Categori" [ParamTitle]="'Категория'"
                [NameParamDisplay]="'nameCategory'" [NameParamOutput]="'id'" (OutputParam)="categorid=$event; getCatalog()"></app-select>
  <div style = "height: 15px;"> </div>
  <div class="DivCat" *ngFor=" let Categor of Categori">
    <img class="imgCat" *ngIf="categorid == Categor.id" src="http://localhost:5000/api/Category/Rec?categoryID= {{Categor.id}}">
    <p class="descriptionCat" *ngIf="categorid == Categor.id">{{Categor.description}}</p>

  </div>
  </div>
</div>
  <div class = "Orders">
  <div *ngFor=" let Catalog of Catalogi" class="Order">

      <div >
        <h2 class = "OrderName">{{Catalog.name}}</h2>
      </div>

        <label class = "OrderParam"><span class = "opt">{{Catalog.colorModel}}</span></label><br>
        <label class = "OrderParam"><span class = "opt">{{Catalog.description}}</span></label><br>
        <label class = "OrderParam"><span class = "opt">{{Catalog.height}}</span></label><br>
    <div class = "OrderFoot">
      <div class = "OrderBuy">
        <button *ngIf="PersonalAreai.typeUserID == 1" (click)="getKorzina(Catalog.productID)" class = "DefaultSubmitButton"> Добавить в корзину </button>

      </div>
    </div>
  </div>
  </div>


<!--
  <bs-modal #KorzinaModal>
    <div class="modal-body" id = "Modl">
      <div id = "DopOpc">
        <label id = "Usl">Подключение дополнительных услуг</label>
      </div>
      <div id = "Glv">
        <div id = "Otstup">
          <div>
            <h1 class = "MText">Товар успешно добавлен в корзину!</h1>
          </div>
          <h1 class = "MText">Дополнительные услуги:</h1>
          <div>
            <div style = "height: 10px;"></div>
            <div class = "Under">
              <label class = "GarAndDost">Гарантия</label>
            </div>
            <p class = "Shrift"> <input type = "checkbox" class = "Punkt"> Продлить гарантию на 2 года <label class = "Rub">4444 RUB</label> </p>
            <p class = "Shrift"> <input type = "checkbox" class = "Punkt"> Продлить гарантию на 3 года <label class = "Rub">4444 RUB</label> </p>
            <p class = "Shrift"> <input type = "checkbox" class = "Punkt"> Продлить гарантию на 4 года <label class = "Rub">4444 RUB</label> </p>
          </div>
          <div>
            <div class = "Under">
              <label class = "GarAndDost">Доставка</label>
            </div>
            <p class = "Shrift"> <input type = "checkbox" class = "Punkt"> Доставка и установка <label class = "Rub">4444 RUB</label> </p>
            <p class = "Shrift"> <input type = "checkbox" class = "Punkt"> Доставка без установки <label class = "Rub">4444 RUB</label> </p>
          </div>
          <div style = "height: 5px;"></div>
          <div style = "border-bottom: 1px solid black;">
            <h1 class = "MText">Сумма заказа <label class = "Rub" style = "font-weight: bold;">4444 RUB</label></h1>
          </div>
        </div>
      </div>
      <div id = "BackToCatalog">
        <button (click)="this.KorzinaModal.close();" class="modal-korzina-closed" class = "BToCat">Вернуться к каталогу</button>
        <button class = "BToCat" id = "Oplata">Оплатить</button>
      </div>
    </div>
  </bs-modal>
  -->
