
  <app-header></app-header>

  <div class="MainModal" [id]="'Modal'">
    <div class="DivModal">
      <h2 class="TitleModal">Описание</h2>

      <form [formGroup]="FormDescription" class="BodyModal">
        <div class="FormModalBody">
          <div class="AuthorizationParam">
            <p class = "data"><label>{{FormDescription.value.Description}}</label></p>
          </div>
        </div>
        <div class = "gl">
          <input type="button" (click)="ModalS.CloseModal('Modal')" value="Закрыть окно" class = "DefaultSubmitButton">
        </div>
      </form>
    </div>
  </div>


<div class="Main">
  <h1 class="Tovar"> Каталог услуг </h1>
  <div class = "Catalog">


  <h2 class="Tovar"> Фильтр по услугам </h2>
    <app-select *ngIf="Categori != undefined" [ParamArray]="Categori" [ParamTitle]="'Категория'"
                [NameParamDisplay]="'nameCategory'" [NameParamOutput]="'id'" (OutputParam)="categorid=$event; getCatalog()"></app-select>
  <div style = "height: 15px;"> </div>
  <div class="DivCat" *ngFor=" let Categor of Categori">
    <img class="imgCat" *ngIf="categorid == Categor.id" src="http://localhost:5000/api/Category/Rec?categoryID= {{Categor.id}}">
    <p class="descriptionCat" *ngIf="categorid == Categor.id">{{Categor.description}}</p>
    <button  *ngIf="categorid == Categor.id" class="DefaultSubmitButton" (click)="OpenInfoModal(Categor.description)">Описание</button>
  </div>
  </div>
</div>
  <div class = "Orders">
  <div *ngFor=" let Catalog of Catalogi" class="Order">

      <div >
        <h2 class = "OrderName">{{Catalog.name}}</h2>
      </div>

        <label class = "OrderParam"><span class = "opt">{{Catalog.colorModel}}</span></label><br>
        <label class = "OrderParam"><span class = "opt">{{Catalog.description}}</span></label><br>
        <label class = "OrderParam"><span class = "opt">{{Catalog.height}}</span></label><br>
    <div class = "OrderFoot">
      <div class = "OrderBuy">
        <button *ngIf="PersonalAreai.typeUserID == 3" (click)="getKorzina(Catalog.productID)" class = "DefaultSubmitButton"> Добавить в корзину </button>

      </div>
    </div>
  </div>
  </div>


