@import 'src/styles/varibles';

body{
  margin: 0;
}

header{
  margin-top: 0;
}

.Main{
  position: fixed;
  float: left;
  left: 2%;
  top: $Max-margin-head;
  width: 25%;
  h1{
    border-bottom: 1px solid rgba(45,45,45,0.98);
  }
}

.Tovar{
  color: black;
  font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-bottom: 5px;
}

.Catalog{
  margin-bottom: 40px;
}

.Orders{
  float: right;
  width: 65%;
  margin-right: 2%;
  margin-top: $Max-margin-head;

}

.OrderFoot{
  float: right;
  margin-bottom: 20px;
}

.OrderName{
  font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.Order{

  margin-bottom: 30px;
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(45,45,45,0.98);
}

.OrderParam {
  text-align: justify;
  font-family: $Font;
}

.OrderBuy{
  float: left;
  width: 97%;
  margin-bottom: 15px;
}

.opt{
  font-size: 15px;
}

.picture{
  float: left;
  margin-right: 25px;
  max-width: 189px;
  min-width: 291px;
}
.DivCat{
  position: relative;
  width: 90%;
  left: 5%;
  height: 50%;
  text-align: center;

}

.imgCat{
  position: relative;
  width: 150px;
  height: 150px;
}
.descriptionCat{
  position: relative;
  height: 400px;
  text-align: justify;
  overflow-y: auto;
  padding-right: 10px;
}

@media screen and (max-width: 750px){
  .Main{

    h1{
      font-size: 12px;
    }
    h2{
      font-size: 10px;
    }
    .imgCat{
      width: 50px;
      height: 50px;
    }
  }
  .Orders{

    .OrderName{
      font-size: 24px;
    }
    .opt{
      font-size: 12px;
    }
  }
  .DivCat{
    height: auto;
    .descriptionCat{
      height: 0;
      visibility: collapse;
    }
  }


}
