
<div>
  <app-header></app-header>
</div>

<div id ="Cont">
  <div id = "Kont">
  <h1 id = "Zag">Контакты</h1>
  </div>
  <div id = "Numbers">
    <p>пр. Красноярский рабочий, 29, Красноярск, 660123</p>
    <p>Телефон приёмной: +7 (931) 231 96 22</p>
    <p>Телефон отдела розничных продаж: +7 (391) 272 97 90</p>
    <p>Телефон отдела оптовых продаж: +7 (391) 231 96 18</p>
    <p>Факс: +7 (391) 231 96 40</p>
  </div>
</div>
<div id = "K">
<div>
  <iframe id = "Geo"
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A4564654d075cfb94d66ce3e12159a168be9da268c4e03248a259b8bec75a8d50&amp;source=constructor"
    width="500"
    height="400"
    frameborder="0">
  </iframe>
</div>
</div>
