@import "./src/styles/varibles";

body{
  margin: 0;
}

header{
  z-index: 10;
  position: fixed;
  display: inline-block;
  width: 100%;
  /*margin-top: 0;*/

  /*background: radial-gradient(circle,#0f4260,#001c42);*/
}

.headText{
  background: rgba(45,45,45,0.98);
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.Menu {
  border: none;
  background: none;
  color: #fff;
  padding: 15px 0.5% 15px 0.5%;
  font-family: $Font;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  border-radius: 44px;
  margin-right: 11px;

}



#Svyaz{
  color: darkslategrey;
}

.Num{
  color: grey;
  margin-right: 14%;
  margin-top: 18px;
}

#Jer{
  text-align: center;
  position: relative;
  right: 5px;
}

.Jeri{
  font-family: $Font;
  font-size: 20px;
  border-bottom: 1px solid red;
  color: white;
  position: relative;
  top: 5px;
}

.Menu:hover{
  transition-duration: 0.2s;
  opacity: .65;
}

/*.Menu:active{
    background: lightgrey;
}*/



input:last-child{
  margin-right: 0;
}
@media screen and (max-width: 750px){
  .Menu{
    padding: 5px;
    font-size: 12px;
  }

}
