/* You can add global styles to this file, and also import other style files */
@import 'varibles';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import "Authorization style";
@import "ModalS";
.Select{
  position: relative;
  color: black;
  height: 30px;
  width: 100%;
  option{
    width: 100%;
    position: relative;
  }
}
.DefaultInputText{
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: slategray solid 1px;
  background-color: rgb(179, 179, 179);
  border-radius: 16px;
  outline: none;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}
.DefaultSubmitButton{
  text-align: center;
    outline: none;
    font-family: $Font;
    background: white;
    font-size: 16px;
    border: 1px solid rgba(45,45,45,0.98);
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: $Standart-Margin-Bottom-Top;
    &:hover{
      background: rgba(215, 215, 215, 0.98);
      transition-duration: 0.2s;
    }
    &:disabled{
      background:rgba(155, 155, 155, 0.98);
      &:hover{
        background:rgba(155, 155, 155, 0.98);
      }
    }
}

.WarningInput{
  margin: 0;
  color: rgba(195, 16, 16, 0.7);
  text-align: center;
  display: block;
  background-color: rgba(243, 55, 55, 0.3);
  border-radius:$Border-Radius;
}
.ngx-pagination{
  padding: 0px;
  margin-top:$Standart-Margin-Bottom-Top;
}


