/* You can add global styles to this file, and also import other style files */
@import 'varibles';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import "Authorization style";
.Select{
  position: relative;
  color: black;
  height: 30px;
  width: 100%;
  option{
    width: 100%;
    position: relative;
  }
}
.DefaultInputText{
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: slategray solid 1px;
  background-color: rgb(179, 179, 179);
  border-radius: 16px;
  outline: none;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}
.DefaultSubmitButton{
    outline: none;
    font-family: $Font;
    background: white;
    font-size: 17px;
    border: 1px solid rgba(45,45,45,0.98);
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: $Standart-Margin-Bottom-Top;
    &:hover{
      background: rgba(215, 215, 215, 0.98);
      transition-duration: 0.2s;
    }

}

.ngx-pagination{
  padding: 0px;
}
