$Standart-size-h1: 72px;
$Small-size-h1: 32px;
$Standart-size-p: 32px;
$Small-size-p: 16px;
$Standart-size-row: 24px;
$Small-size-row: 12px;

$Border-Radius: 16px;
$Standart-Margin-Bottom-Top: 10px;
$Small-Margin-Bottom-Top: 5px;
$Big-Margin-Left-Right: 15px;
$Standart-Margin-Left-Right: 5px;

$Min-margin-head: 50px;
$Max-margin-head: 100px;

$Min-wight-page: 450px;
$Font: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
