<div>
  <app-header></app-header>
</div>

<div id = "GlavBlock">
  <div class = "Options">
      <p> <span class = "glyphicon glyphicon-home" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit" value = "Главная" class = "Lich" id = "L"></p>
      <p> <span class = "glyphicon glyphicon-user" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit" routerLink="/data" value = "Личные данные" class = "Lich" id = "I"></p>
      <p> <span class = "glyphicon glyphicon-cog" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit" routerLink="/settings"  value = "Настройки" class = "Lich" id = "C"></p>

    </div>
  <div class = "GlavForm">
    <div>
      <img src = "{{http.api}}Author/Rec?UserID={{PersonalAreai.id}}" id="Avatar"/>
    </div>
    <div id = "NickName">
        <h1 class = "Nick">{{PersonalAreai.fio}}</h1>
        <div style = "height: 15px;"></div>
        <div>
        <label class = "Name">{{PersonalAreai.email}}</label>
        </div>
      </div>
    <div>
      <form enctype="multipart/form-data" method="post">
        <div class = "IzmAvt">
        <label class="custom-file-upload">
          <input type="file" (change) = "ChangePhoto($event.target.files)" >
          Изменить аватар
        </label>
        </div>
        </form>
      </div>
  </div>
  </div>
