
<div>
  <app-header></app-header>
</div>
<table class="table">
  <tr >
    <th>Название</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>
  <tr *ngFor="let order of Orders | paginate: { itemsPerPage: PageSize, currentPage: Page, totalItems:Pages }" >
    <td>{{order.nameProduct}}</td>
    <td>{{order.price}}</td>
    <td>{{order.amount}}</td>

  </tr>
  <pagination-controls class="my-pagination"  (pageChange)="PageChange($event)" nextLabel='Далее' previousLabel='Назад'></pagination-controls>
</table>
