
  <app-header ></app-header>
  <div class="MainModal" [id]="'Modal'">
    <div class="DivModal">
      <h2 class="TitleModal">Данные заказа</h2>
      <form [formGroup]="FormOrder" class="BodyModal">
      <div class="AuthorizationParam">
        <p class = "data"><label>ФИО:</label>
          <input type="text" formControlName="FIO" ></p>
      </div>
      <div class="AuthorizationParam">
        <p class = "data"><label>Телефон:</label>
          <input type="text"formControlName="Telefon" ></p>
      </div>
      <div class="AuthorizationParam">
        <p class = "data"><label>Адрес:</label>
          <input type="text" formControlName="Addres" ></p>
      </div>
      <div class="AuthorizationParam">
        <p class = "data"><label>Почтовый индекс:</label></p>
          <input type="text" formControlName="Postcode">
      </div>
      <div class = "gl">
        <input type="submit" [disabled]="FormOrder.invalid"  (click)="SubmitOrder()" value="Оформить заказ" class = "DefaultSubmitButton">
        <input type="button" (click)="ModalS.CloseModal('Modal')" value="Закрыть окно" class = "DefaultSubmitButton">
      </div>
      </form>
    </div>
  </div>



<div *ngIf="Void ">
  <label class = "LabelVoid">Ваша корзина пуста</label>
</div>
<div *ngIf="!Void">


<div *ngFor=" let Catalog of Catalogi" class="MainKorzina">
<div>
  <img src = "{{http.api}}Catalog/Rec?productID={{Catalog.productID}}" class = "picture"/>
</div>
<div class = "Description" (click)="getTovarinfo(Catalog.productID)">
    <h2 class = "NameOrder">{{Catalog.nameProduct}}</h2>
    <h4 class = "DescriptionOrder">Краткое описание</h4>
</div>
<div class = "Price">

    <input type = "submit" (click)="getDeleteOrder(Catalog.basketID)" class = "DefaultSubmitButton" value = "Удалить товар">
</div>
<div class = "navbar-fixed-bottom">
    <input type = "submit" (click)=" ModalS.OpenModal('Modal');" class = "zakaz" value = "Оформить заказ">
</div>
</div>


<!-- <bs-modal #KorzinaModal>-->

<!--</bs-modal>-->
<!--</div>-->
