
  <app-header ></app-header>
  <div class="MainModal" [id]="'Modal'">
    <div class="DivModal">
      <h2 class="TitleModal">Данные заказа</h2>
      <form [formGroup]="FormOrder" class="BodyModal">
      <div class="AuthorizationParam">
        <p class = "data"><label>Адрес:</label>
          <input type="text" formControlName="Adress" ></p>
      </div>
      <div class = "gl">
        <input type="submit" [disabled]="FormOrder.invalid"  (click)="SubmitOrder()" value="Оформить заказ" class = "DefaultSubmitButton">
        <input type="button" (click)="ModalS.CloseModal('Modal')" value="Закрыть окно" class = "DefaultSubmitButton">
      </div>
      </form>
    </div>
  </div>



<div *ngIf="Catalogi.length === 0">
  <label class = "LabelVoid">Ваша корзина пуста</label>
</div>
<div *ngIf="Catalogi.length !== 0">


<div *ngFor=" let Catalog of Catalogi" class="MainKorzina">
<div>
  <img src = "{{http.api}}Catalog/Rec?productID={{Catalog.productID}}" class = "picture"/>
</div>
<div class = "Description" (click)="getTovarinfo(Catalog.productID)">
    <h2 class = "NameOrder">{{Catalog.nameProduct}}</h2>
    <h4 class = "DescriptionOrder">Краткое описание</h4>
</div>
<div class = "Price">

    <input type = "submit" (click)="getDeleteOrder(Catalog.basketID)" class = "DefaultSubmitButton" value = "Удалить товар">
</div>
<div class = "navbar-fixed-bottom">
    <input type = "submit" (click)=" ModalS.OpenModal('Modal');" class = "zakaz" value = "Оформить заказ">
</div>
</div>
