<div class = "MainPersonalAreai">
<table class="table">
  <h1>Заказы</h1>
  <app-select [ParamArray]="PagginationArray" [ParamTitle]="'Количество заказов'" [NameParamDisplay]="'Count'"
              [NameParamOutput]="'Count'" (OutputParam)="PageSize=$event"></app-select>
  <tr class="HeadTable">
    <th>Номер</th>
    <th>Услуга</th>
    <th>Дата заказа</th>
    <th>Статус</th>
    <th>Действие</th>
  </tr>

  <tr class="CellTable" *ngFor="let order of Orders | paginate: { itemsPerPage: PageSize, currentPage: Page, totalItems:Pages }" >
    <td>{{order.amount}}</td>
    <td>{{order.nameProduct}}</td>
    <td>{{order.price}}</td>
    <td>{{order.status}}</td>
    <td class="ButtonTableCont">
      <button class="ButtonTable Success">Принять</button>
      <button class="ButtonTable Cancel" (click)="ModalS.OpenModal('ModalCancel')">Отменить</button>
    </td>

  </tr>
  <pagination-controls class="my-pagination"  (pageChange)="PageChange($event)" nextLabel='Далее' previousLabel='Назад'></pagination-controls>

</table>
</div>
