html{
  height: 100%;
}

body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#Cont{
  float: left;
  margin-left: 15px;
  margin-top: 94px;
  /*animation-name: animat;
  animation-duration: 1s;*/
}

#Zag{
  font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: black;
}

#Numbers{
  font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: black;
}

#Kont{
  border-bottom: 1px solid rgba(45,45,45,0.98);
  margin-bottom: 23px;
}

@media screen and (max-width: 418px){
  #Cont{
    margin-top: 120px;
  }
}

@media screen and (max-width: 289px){
  #Cont{
    margin-top: 196px;
  }
}

@media screen and (max-width: 1000px){
  #Cont{
    margin-top: 154px;
  }
}
/*@keyframes animat {
  from{
    margin-left: 100%;
    width: 300%;
  }
  to{
    margin-left: 15px;
    width: 100%;
  }
}*/

#Geo{
  float: right;
  margin-right: 110px;
  margin-top: 130px;
  border: 1px solid black;
}

@media screen and (max-width: 1268px){
  #Geo{
    float: left;
    margin-left: 15px;
    margin-top: 50px;
  }
}
