@import 'src/styles/varibles';

.main{
  position: relative;
  width: 100%;
  float: left;
  margin-top: 94px;
  min-width: $Min-wight-page;
  .Options{
    position: relative;
    max-width: 200px;
    width: 30%;
    float: left;
    margin-left: $Big-Margin-Left-Right;
    padding-right: $Big-Margin-Left-Right;
    border-right: 1px solid black;
  }
}


.Lich{
    font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    background: white;
    border: 1px solid rgba(45,45,45,0.98);
    border-radius: 7px;
    margin-right: 70px;
    outline: none;
}


.Lich:hover{
    background: rgba(45,45,45,0.98);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}



.GlavForm{
  display: flex;
  flex-direction: row;
  position: relative;
  float: left;
  margin-left: $Big-Margin-Left-Right;
  width: 30%;
  .MainAvatar{
    max-width: 200px;
    position: relative;
    width: 100%;

    .Avatar {
      float: left;
      margin-bottom: 19px;
      width: 100%;
      max-width: 200px;
      height: 125px;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
    }
    .DivChangePhoto{
      text-align: center;
      position: relative;
      width: 100%;
    }
  }
  .NickName{
    position: relative;
    width: 55%;
  }
}

.MainPersonalAreai{
  display: flex;
  flex-direction: row;
  position: relative;
  float: left;
  margin-left: $Big-Margin-Left-Right;
  width: 30%;
}

.Nick{
    margin: 0;
    font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

.Name{
    font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover{
    border: 1px solid rgba(45,45,45,0.98);
    transition: 0.3s;
}

.IzmAvt{
    float: left;
    clear: both;
}

.Title{
  margin-top: 0;
}
@media screen and (max-width: 750px) {
  .Avatar{

    width: 75px;
    height: 75px;

  }
  .main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    .Options{
      border: none;
      padding: 0;
    }
  }
}

@import 'src/styles/Verstka';
