<div>
  <app-header></app-header>
</div>

<div class="main">
  <div class = "Options">
      <p> <span class = "glyphicon glyphicon-home"></span> <input type = "submit"
                value = "Главная" class = "DefaultSubmitButton" (click)="ChangePage('Avatar')"></p>
      <p> <span class = "glyphicon glyphicon-user"></span> <input type = "submit"
                value = "Личные данные" class = "DefaultSubmitButton" (click)="ChangePage('PersonalArea')"></p>
      <p> <span class = "glyphicon glyphicon-cog"></span> <input type = "submit"
                value = "Настройки" class = "DefaultSubmitButton" (click)="ChangePage('Setting')"></p>

    </div>
    <app-avatar *ngIf="Tab === 'Avatar'" class="InfoBlock"></app-avatar>
  <app-userdata *ngIf="Tab === 'PersonalArea'" class="InfoBlock"></app-userdata>
  <app-usersettings *ngIf="Tab === 'Setting'" class="InfoBlock"></app-usersettings>
</div>
