<div>
  <app-header></app-header>
</div>

<div class="main">
  <div class = "Options">
      <p> <span class = "glyphicon glyphicon-home"></span> <input type = "submit" value = "Главная" class = "DefaultSubmitButton"></p>
      <p> <span class = "glyphicon glyphicon-user"></span> <input type = "submit" routerLink="/data" value = "Личные данные" class = "DefaultSubmitButton"></p>
      <p> <span class = "glyphicon glyphicon-cog"></span> <input type = "submit" routerLink="/settings"  value = "Настройки" class = "DefaultSubmitButton"></p>

    </div>
  <div class = "GlavForm">
    <div class="MainAvatar">
      <div>
        <img src = "{{scrAV}}" class="Avatar"/>
      </div>
      <form enctype="multipart/form-data" method="post">
        <div class = "DivChangePhoto">
        <label class="DefaultSubmitButton">
          <input type="file" class="" (change) = "ChangePhoto($event.target.files)" >
          Изменить аватар
        </label>
        </div>
        </form>
      </div>
  </div>
  <div class="MainPersonalAreai">
    <div class="NickName">
      <h1 class = "Title">{{PersonalAreai.fio}}</h1>
      <div>
        <label class = "Name">{{PersonalAreai.email}}</label>
      </div>
    </div>
  </div>

  </div>
