<app-header></app-header>
<div id = "GlavBlock">
  <div class = "Options">
      <p> <span class = "glyphicon glyphicon-home" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit" routerLink="/profile" value = "Главная" class = "Lich" id = "L"></p>
      <p> <span class = "glyphicon glyphicon-user" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit" routerLink="/data" value = "Личные данные" class = "Lich" id = "I"></p>
      <p> <span class = "glyphicon glyphicon-cog" style = "font-size: 18px; margin-right: 15px;"></span> <input type = "submit"  value = "Настройки" class = "Lich" id = "C"></p>
     
    </div>
  <div id = "GlavData">
   <div class = "udata">
     <p class = "data"><label class = "changedata">Изменить данные</label></p> <br>
     <p class = "data"><label id = "fio">ФИО:</label>
     <input type="text" [(ngModel)]="FIO" class = "entr"></p>
     <p class = "data"><label id = birthday>Дата рождения:</label>
     <input type="text" [(ngModel)]="DateBirth" class = "entr"></p>
     <p class = "data"><label id = "telephone">Телефон:</label>
     <input type="text" [(ngModel)]="Telefon" class = "entr"></p>
     <p class = "data"><label id = "adress">Адрес:</label>
     <input type="text" [(ngModel)]="Addres" class = "entr"></p>
     <p class = "data"><label id = "postcode">Почтовый индекс:</label>
     <input type="text" [(ngModel)]="Postcode" class = "entr"></p>
     <div style = "text-align: end;">
     <input type="button" (click)=" getUpdate()" value="Сохранить" class = "save">
    </div>
   </div>
  </div>
  </div>