
<div>
  <app-header></app-header>
</div>

<body>
  <div id = "GlavFr">
  <form #FormReg="ngForm" (submit)="getRegistr(FormReg)" novalidate>
    <div id = "Reg">
    <h1 id = "R">Регистрация</h1>
    </div>
    <div style = "height: 15px;"></div>
    <div id = "Reg/En">
    </div>
    <div>
      <label for = "Eml" class = "RegaAvt"><span class = "glyphicon glyphicon-envelope" style = "font-size: 18px; margin-right: 10px;"></span>Email</label>
      <input type = "email"  name="Mail" ngModel required="required" class = "Bord" id = "B">
    </div>
    <div style = "height: 15px;"></div>
    <div>
      <label for = "Pass" class = "RegaAvt"><span class = "glyphicon glyphicon-lock" style = "font-size: 18px; margin-right: 10px;"></span>Пароль</label>
      <input type = "password"  name="password" ngModel placeholder="минимум 6 символов" required="required" class = "Bord" >
    </div>
    <div style = "height: 15px;"></div>
    <div class = "Knop">
      <input type = "submit" name="btn_submit_register" value="Зарегистрироваться" class = "Regivxod">
    </div>
  </form>

    <div style = "height: 50px;"></div>

  <form #FormLog="ngForm" (ngSubmit)="getLoginIn(FormLog)" novalidate>
    <div id = "Ent">
    <h1 id = "E">Вход</h1>
    </div>
    <div style = "height: 15px;"></div>
    <div>
      <label  class = "RegaAvt"><span class = "glyphicon glyphicon-envelope" style = "font-size: 18px; margin-right: 10px;"></span>Email</label>
      <input type="text" name="login" ngModel class = "Bord" id = "Bor">
    </div>
    <div style = "height: 15px;"></div>
    <div>
      <label  class = "RegaAvt"><span class = "glyphicon glyphicon-lock" style = "font-size: 18px; margin-right: 10px;"></span>Пароль</label>
      <input type="password"  name="password" ngModel class = "Bord" >
    </div>
    <div style = "height: 15px;"></div>
    <div class = "Knop">
      <input type="submit" name="btn_submit_login" value="Войти" class = "Regivxod">
    </div>
  </form>
  </div>
  </body>
