
<div>
  <app-header></app-header>
</div>

<body>
  <div class="AuthorizationDiv" >
  <form [formGroup]="FormRegister" (submit)="getRegistr()" novalidate>
    <div class="AuthorizationHead">
    <h1>Регистрация</h1>
    </div>
    <div class="AuthorizationParam">
      <label *ngIf="FormRegister.controls['email'].invalid" class="WarningInput">Введен некоректный email</label>
      <p><span class = "glyphicon glyphicon-envelope" ></span>Email</p>
      <input type = "email"  formControlName="email">
    </div>
    <div class="AuthorizationParam">
      <label *ngIf="FormRegister.controls['password'].invalid" class="WarningInput">Пароль не менее 6 символов</label>
      <p class = "RegaAvt"><span class = "glyphicon glyphicon-lock" ></span>Пароль</p>
      <input type = "password" placeholder="минимум 6 символов" formControlName="password">
    </div>
    <div class = "ButtonDiv">
      <input type = "submit" name="btn_submit_register" value="Зарегистрироваться" class = "DefaultSubmitButton" [disabled]="FormRegister.invalid">
    </div>
  </form>
    <div class="AuthorizationFoot">
      <a routerLink="/login">Вход в систему</a>
    </div>

  </div>
  </body>
