

<div class = "MainPersonalArea">
  <form [formGroup]="FormOptions" class="DivPersonalArea">
    <h1 class = "Title">Изменить данные</h1>
     <div class="AuthorizationParam">
         <p class = "data"><label id = "fio">ФИО:</label>
         <input type="text" formControlName="FIO"></p>
     </div>
     <div class="AuthorizationParam">
         <p class = "data"><label id = birthday>Дата рождения:</label>
         <input type="date" formControlName="DateBirth"></p>
     </div>
     <div class="AuthorizationParam">
         <p class = "data"><label id = "telephone">Телефон:</label>
         <input type="text" formControlName="Telefon"></p>
     </div>
     <div class="AuthorizationParam">
         <p class = "data"><label id = "adress">Адрес:</label>
         <input type="text" formControlName="Addres"></p>
     </div>
     <div class="AuthorizationParam">
         <p class = "data"><label id = "postcode">Почтовый индекс:</label>
         <input type="text" formControlName="Postcode"></p>
     </div>
     <div style = "text-align: end;">
     <input type="button" (click)=" getUpdate()" value="Сохранить" class = "DefaultSubmitButton">
    </div>
  </form>
</div>

