
<div class = "MainPersonalArea">
  <div class="DivPersonalArea">

    <div class="AuthorizationParam">
      <p class = "data"><label>Логин</label></p>
      <input type="text" [value]="PersonalAreai.login" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Email</label></p>
      <input type="text" [value]="PersonalAreai.email" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>ФИО</label></p>
      <input type="text" [value]="PersonalAreai.fio" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Дата рождения</label></p>
      <input type="text" [value]="PersonalAreai.dateBirth" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Телефон</label></p>
      <input type="text" [value]="PersonalAreai.telefon" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Адрес</label></p>
      <input type="text" [value]="PersonalAreai.addres" readonly>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Почтовый индекс</label></p>
      <input type="text" [value]="PersonalAreai.postcode" readonly>
    </div>

   </div>
  </div>
