
<div class = "MainPersonalArea">
  <div class="DivPersonalArea">

    <div class="AuthorizationParam">
      <p class = "data"><label>Логин: {{PersonalAreai.login}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Email: {{PersonalAreai.email}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>ФИО: {{PersonalAreai.fio}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Дата рождения: {{PersonalAreai.dateBirth}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Телефон: {{PersonalAreai.telefon}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Адрес: {{PersonalAreai.addres}}</label></p>
    </div>

    <div class="AuthorizationParam">
      <p class = "data"><label>Почтовый индекс: {{PersonalAreai.postcode}}</label></p>
    </div>

   </div>
  </div>
