@import 'src/styles/varibles';

.MainSelect{
  cursor: pointer;
  height: auto;
  .DivSelect{
    z-index: 2;
      .Select{
      position: relative;
      width: 100%;
      height: auto;
      border: darkgray solid 1px;
      margin-bottom: $Standart-Margin-Bottom-Top;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .LabelSelect{
        cursor: pointer;
        position: relative;
        width: 80%;
        margin-left: $Standart-Margin-Left-Right;
        font-weight: 300;
      }

      .ButtonSelect{
        text-align: center;
        border: none;
        position: relative;
        display: block;
        height: 1%;
        background: none;
        margin-bottom: $Small-Margin-Bottom-Top;
        float: right;
        outline: none;
      }

    }
  }
  .DivOption{
    max-height: 250px;
    overflow-y: auto;
    z-index: 1;
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    .ButtonOption{
      border: none;
      position: relative;
      width: 100%;
      height: auto;
      outline: none;
      background-color: rgba(255, 255, 255, 1);
      &:hover{
        background-color: darkgray;
      }
    }
  }
}


